@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-86m8ff");
  src: url("../fonts/icomoon.eot?#iefix-86m8ff") format('embedded-opentype'), url("../fonts/icomoon.woff?-86m8ff") format('woff'), url("../fonts/icomoon.ttf?-86m8ff") format('truetype'), url("../fonts/icomoon.svg?-86m8ff#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #dd4f24;
}
body {
  background: #e8e8e8;
  color: #444;
  font-family: Arial;
  font-size: 16px;
}
header {
  background: #444;
  color: #fff;
  padding: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
header .logo {
  border-right: 1px solid #22bce0;
  width: 60px;
}
header .logo img {
  width: 52px;
}
header .titular {
  margin: 0 80px 0 70px;
}
header .titular .titulo {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .titular .filtro {
  font-size: 14px;
  color: #22bce0;
  text-decoration: none;
  fonte-style: italic;
  font-weight: bold;
}
header .titular .publicar {
  background: #dd4f24;
  color: #fff;
  fonte-style: italic;
  padding: 0.2em 0.5em;
  text-decoration: none;
  text-shadow: 2px 2px 0px #000;
  float: right;
  margin: 0px -10px 0 0;
}
header .titular .publicar:before {
  font-family: icomoon;
  content: "\e600";
}
header .usuario {
  position: absolute;
  right: 10px;
  top: 10px;
}
header .usuario .avatar {
  margin: 0 1.3em 0 0;
  position: relative;
  z-index: 2;
}
header .usuario .avatar img {
  width: 50px;
  border-radius: 50%;
}
header .usuario .flechita {
  display: block;
  background: #dd4f24;
  color: #fff;
  text-align: right;
  position: absolute;
  width: 50%;
  top: 15px;
  right: 0;
  padding: 5px;
  text-decoration: none;
  padding: 3px;
}
header .usuario .flechita:after {
  font-family: icomoon;
  content: "\e602";
}
nav {
  background: #22bce0;
  border-left: 15px solid #fff;
  position: relative;
}
nav:before {
  position: absolute;
  content: "";
  border-bottom: 22px solid transparent;
  border-left: 7px solid #fff;
  border-top: 22px solid transparent;
  top: 0;
  left: 0;
}
nav .menu {
  height: 45px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0 0.2em;
  display: inline-block;
  margin: 10px 0.5em 0 0.5em;
}
.posts {
  padding: 0.5em;
  position: relative;
}
.posts .post {
  background: #fff;
  color: #7a7a7a;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 0 0 0.5em 0.5em;
}
.posts .post .acciones {
  border-top: 3px solid #22bce0;
  padding: 0.5em;
  overflow: hidden;
}
.posts .post .acciones .votos {
  float: left;
}
.posts .post .acciones .votos .down {
  color: #f00;
}
.posts .post .acciones .votos .down:before {
  font-size: 1.5em;
  font-family: icomoon;
  content: "\e602";
}
.posts .post .acciones .votos .up {
  color: #008000;
}
.posts .post .acciones .votos .up:before {
  font-size: 1.5em;
  font-family: icomoon;
  content: "\e603";
}
.posts .post .acciones .votos .down,
.posts .post .acciones .votos .up {
  text-decoration: none;
}
.posts .post .acciones .datos {
  float: right;
}
.posts .post .acciones .datos .comentarios {
  background: #7a7a7a;
  color: #fff;
  padding: 2px 5px;
  margin: 0 1em 0 0;
  text-decoration: none;
  border-radius: 3px;
}
.posts .post .acciones .datos .estrellita {
  text-decoration: none;
}
.posts .post .acciones .datos .estrellita:after {
  font-size: 1.5em;
  font-family: icomoon;
  color: #ff0;
  content: "\e601";
}
.posts .post .descripcion {
  color: #7a7a7a;
}
.posts .post .detalles {
  height: 160px;
  margin-left: 130px;
}
.posts .post .detalles .autor {
  margin: 0.5em 0 2em 0;
}
.posts .post .detalles .fecha {
  float: right;
  margin: 0 1em 0 0;
}
.posts .post .detalles .tag {
  background: #22bce0;
  color: #fff;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}
.posts .post .detalles .titulo {
  height: 70px;
  font-size: 18px;
  font-style: italic;
  color: #444;
  margin: 0;
  padding: 0.5em 0.5em 0 0;
}
.posts .post .imagen {
  margin: 0;
  float: left;
}
.posts .post .imagen img {
  height: 160px;
  width: 120px;
  vertical-align: top;
}
footer .powerd {
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 0.5em 0;
  background: #dd4f24;
  text-align: center;
}
footer .powerd strong {
  display: block;
}
footer .powerd .mejor:before,
footer .powerd .mejor:after {
  content: "-";
}
.left {
  float: left;
}
.right {
  float: right;
}
@media screen and (min-width: 768px) {
  .posts {
    display: inline-block;
    width: 46%;
    margin-right: 0;
    vertical-align: top;
    margin-left: 0.7em;
  }
  .posts:nth-child(odd) {
    margin-right: 0;
    left: 1em;
  }
  .posts:nth-child(even) {
    right: -1em;
  }
  header .titular .publicar {
    margin-top: -0.7em;
    padding-left: 3em;
    position: relative;
  }
  header .titular .publicar:before {
    top: -10px;
    font-size: 2.5em;
    left: 0;
    position: absolute;
  }
}
